<!--在等号的左边，是方括号围绕的hero属性，这表示它是属性绑定表达式的目标。
我们要绑定到的目标属性必须是一个输入属性，
否则Angular会拒绝绑定，并抛出一个错误。
-->

<!-- <div>
	Pick your favorite hero
	(<label><input type="checkbox" checked (change)='showSad'>show sad</label>)
</div>

<select [(ngModel)]='hero'>
	<ng-container *ngFor='let h of heros'>
		<ng-container *ngIf='showSad || h.emotion !== "sad"'>
			<option [ngValue]='h'>{{h.name}} ({{h.emotion}})</option>
		</ng-container>
	</ng-container>
</select> -->

<p *appUnless="condition" class="unless a">
show this sentence unless the condition is true.
</p>

<p *appUnless="!condition" class="unless b">
	(B) Although the condition is true,
  this paragraph is displayed because myUnless is set to false.
</p>

<h1>{{title}}</h1>,
<nav>
  <a routerLink = '/dashboard' routerLinkActive='active'>Dashboard</a>
  <a routerLink = '/heroes' routerLinkActive='active'>Heroes</a>
</nav>
<div>iss53</div>
<router-outlet></router-outlet>
